<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>校车时间表</title>
</head>
<body style="font-size:48px;width:100%">
   
    <div style="position: absolute;left: 50%;top: 40%;transform: translate(-50%,-50%);min-width:621px;overflow:hidden;">
    <p>坞城校区:</p>
    <p>上午：07:20 09:20 12:10</p>
    <p>下午：13:50 15:50 18:40</p>
    <p>乘车点：初民广场</p>
    <p>大东关校区：</p>
    <p>上午：07:20 10:20 12:10</p>
    <p>下午：13:50 16:50 18:40</p>
    <p>乘车点：北门广场</p>
    <p style="font-size:27px;text-align:center;">技术支持：软件学院钉钉项目组——软工1706高原</p>
    </div>
    
     
</body>                                           
</html>