<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>节次课表</title>
    <link rel="stylesheet" type="text/css" href="static/section_find_course.css">
</head>
<body>
    <table  width='100%' BORDER=0 align=center CELLPADDING=0 CELLSPACING=0 ><tr><td style='text-align:center;font-weight:bold;font-size:16pt'>山西大学周/日/节次课表</td></tr><tr><td style='text-align:center;font-size:13px'>2019-2020学年第一学期</td></tr></table><br><TABLE WIDTH=100% BORDER=1 valign=top  CELLPADDING=0 CELLSPACING=0 bordercolorlight=#000000 bordercolordark=#FFFFFF><tr><td width='5%' align=center >序号</td><td width='22%' align=center >课程</td><td width='10%' align=center >上课班号</td><td width='5%' align=center >人数</td><td width='10%' align=center >任课教师</td><td width='12%' align=center >节次</td><td width='16%' align=center >地点</td><td width='20%' align=center >行政班级</td></tr>
    {{value|safe}}
    </table>
    <p style="font-size:36px;text-align:center;width:100%;">技术支持：软件学院钉钉项目组——软工1706高原</p>
</body>
</html>